/* 全局样式 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
}
a{
  text-decoration: none;
  color: #fff;
}
p {
  line-height: normal;
  margin: 0;
}

.el-breadcrumb {
  margin-bottom: 15px;
  font-size: 12px;

}

.el-card {
  box-shadow: 0 0px 0px rgba(255, 255, 255, 0) !important;
}

ul li {
  list-style: none;
}
[v-cloak]{
  display: none;
}

.hv:hover{
  color: #005ab9;
  cursor: pointer;
}

/* 首页分页 */
.title {
  font-size: 26px;
  width: 100%;
  margin-bottom: 40px;
  margin-top: 20px;
  color: #005ab9;
}

.handleStaff {
  text-align: left;
}

.handleStaff span {
  color: #999;
  font-size: 12px;
}

.handleStaff span:nth-child(1) {
  margin-right: 10px;
}